<div class="flex flex-col gap-2.5">
  <h3 class="font-bold">Đăng ký</h3>
  <hr />
  <p>
    Bạn đã có tài khoản?
    <a class="text-blue-500 underline cursor-pointer" routerLink="/auth/login">Đăng nhập</a>
  </p>
  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()" class="flex flex-col gap-2.5">
    <div>
      <p-iftalabel>
        <input
          class="w-full"
          pInputText
          id="userName"
          formControlName="userName"
          name="userName"
          required
        />
        <label for="userName">Tên đăng nhập</label>
      </p-iftalabel>
      @if (userName?.invalid && userName?.touched) { @if (userName?.hasError('required')) {
      <span class="text-red-500 text-sm mt-1">Tên đăng nhập không được rỗng</span>
      } @if (userName?.hasError('server')) {
      <span class="text-red-500 text-sm mt-1">{{ userName?.getError('server') }}</span>
      } }
    </div>

    <div>
      <p-iftalabel>
        <input
          class="w-full"
          pInputText
          id="email"
          name="email"
          formControlName="email"
          required
          email
        />
        <label for="email">Email</label>
      </p-iftalabel>
      @if (email?.invalid && email?.touched) { @if (email?.hasError('required') ||
      email?.hasError('email')) {
      <span class="text-red-500 text-sm mt-1">Email không hợp lệ!</span>
      }
    @if (email?.hasError('server')) {
      <span class="text-red-500 text-sm mt-1">{{ email?.getError('server') }}</span>
      } }
    </div>

    <div>
      <p-iftalabel>
        <p-password
          class="w-full"
          inputStyleClass="w-full"
          [toggleMask]="true"
          formControlName="passwordHash"
          inputId="password"
          name="password"
          required
        ></p-password>
        <label for="password">Mật khẩu</label>
      </p-iftalabel>
      @if (password?.invalid && password?.touched) { @if (password?.hasError('required')) {
      <div class="text-red-500 text-sm mt-1">Mật khẩu không được rỗng!</div>
      }
      @if (password?.hasError('passwordPolicy')) {
      <pre class="text-red-500 text-sm mt-1">{{ passwordPolicy }}</pre>
      }
     }
    </div>

    <div>
      <p-button
        label="Đăng ký"
        type="submit"
        styleClass="w-full"
        [disabled]="formRegister.invalid"
      />
    </div>
  </form>
</div>
