<p-toast />
<div class="flex flex-col gap-2.5">
  <h3 class="font-bold">Đăng ký</h3>
  <hr />
  @if (errorMsg()) {
  <p-card header="Lỗi" class="bg-red-50">
    <small class="text-red-500">
      <pre>{{ errorMsg() }}</pre>
    </small>
  </p-card>
  <hr />

  }
  <p>
    Bạn đã có tài khoản?
    <a class="text-blue-500 underline cursor-pointer" routerLink="/auth/login">Đăng nhập</a>
  </p>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="flex flex-col gap-2.5">
    <div>
      <p-iftalabel>
        <input
          class="w-full"
          pInputText
          id="UserName"
          [(ngModel)]="registerDto().UserName"
          name="UserName"
          required
          #UserName="ngModel"
        />
        <label for="UserName">Tên đăng nhập</label>
      </p-iftalabel>
      @if (UserName.invalid && UserName.touched) { @if (UserName.hasError('required')) {
      <div class="text-red-500 text-sm mt-1">Tên đăng nhập không được rỗng!</div>
      } }
    </div>

    <div>
      <p-iftalabel>
        <input
          class="w-full"
          pInputText
          id="Email"
          [(ngModel)]="registerDto().Email"
          name="Email"
          required
          email
          #Email="ngModel"
        />
        <label for="Email">Email</label>
      </p-iftalabel>
      @if (Email.invalid && Email.touched) { @if (Email.hasError('required') ||
      Email.hasError('email')) {
      <div class="text-red-500 text-sm mt-1">Email không hợp lệ!</div>
      } }
    </div>

    <div>
      <p-iftalabel>
        <p-password
          class="w-full"
          inputStyleClass="w-full"
          [(ngModel)]="registerDto().PasswordHash"
          inputId="Password"
          name="Password"
          required
          #Password="ngModel"
        ></p-password>
        <label for="Password">Mật khẩu</label>
      </p-iftalabel>
      @if (Password.invalid && Password.touched) { @if (Password.hasError('required')) {
      <div class="text-red-500 text-sm mt-1">Mật khẩu không được rỗng!</div>
      } }
    </div>

    <div>
      <p-button
        label="Đăng ký"
        type="submit"
        styleClass="w-full"
        [disabled]="registerForm.invalid"
      />
    </div>
  </form>
</div>
