<div class="container mx-auto flex flex-col gap-3">
  <p-card class="shadow-xl">
    <div class="flex gap-x-5 flex-col lg:flex-row">
      <div class="relative inline-block aspect-[16/9] w-full lg:max-w-[400px]">
        <img
          src="assets/images/{{ course()?.thumbnailUrl }}"
          alt="img"
          class="w-full h-full object-cover rounded-lg"
        />
        <!-- Icon play nằm giữa ảnh -->
        <div class="absolute inset-0 flex items-center justify-center">
          <i
            class="pi pi-play-circle text-white text-6xl opacity-80 hover:opacity-100 transition"
          ></i>
        </div>
      </div>
      <div class="flex flex-col gap-2 justify-center flex-1">
        <h2 class="font-bold text-2xl">{{ course()?.title }}</h2>
        <p>
          <i>{{ course()?.shortDescription }}</i>
        </p>
        <div class="flex justify-between">
          <p><b>Giáo viên:</b> {{ course()?.teacherName }}</p>
          <p><b>Học sinh tối đa:</b> {{ course()?.maxStudents }}</p>
        </div>
        <div class="flex justify-between">
          <p><b>Loại:</b> {{ course()?.categoryName }}</p>
          <p><b>Mức độ:</b> {{ course()?.levelName }}</p>
          <p><b>Ngôn ngữ:</b> {{ course()?.languageName }}</p>
        </div>
      </div>
    </div>
  </p-card>
  <p-card class="flex flex-col gap-y-1 shadow-2xl">
    <h3 class="mb-3 font-bold text-2xl">Tổng quan</h3>
    <div>
      <h4 class="font-bold text-xl">Mô tả khoá học</h4>
      <p>{{ course()?.description }}</p>
    </div>
    <div>
      <h4 class="font-bold text-xl">Bạn sẽ học được!</h4>
      @for (topic of course()?.courseTopics; track topic.courseTopicId) {
      <p>{{ topic.title }}</p>
      }
    </div>
    <div>
      <h4 class="font-bold text-xl">FAQ's</h4>
      @for (faqGroup of course()?.faqGroups; track faqGroup.faqGroupId) {
      <h5 class="font-bold text-lg">{{ faqGroup.title }}</h5>
      @for (faqItem of faqGroup.faqItems; track faqItem.faqItemId) {
      <div class="flex gap-1 items-center">
        <i class="pi pi-question"></i>
        <p>{{ faqItem.question }}</p>
      </div>
      <div class="flex gap-1 items-center">
        <i class="pi pi-check"></i>
        <p>{{ faqItem.answer }}</p>
      </div>
      } }
    </div>
  </p-card>

  <p-card class="flex flex-col gap-y-1 shadow-xl">
    <h3 class="mb-3 font-bold text-2xl">Nội dung</h3>
    <p-accordion [value]="0" class="">
      @for (topic of course()?.courseTopics; track topic.courseTopicId) {
      <p-accordion-panel value="{{ topic.courseTopicId }}">
        <p-accordion-header class="bg-[#F8F8F8]">{{ topic.title }}</p-accordion-header>
        <p-accordion-content>
          @for (lesson of topic.lessons; track lesson.lessonId) {
          <div class="flex items-center">
            <i class="pi pi-play"></i>
            <span>{{ lesson.title }}</span>
          </div>
          }
        </p-accordion-content>
      </p-accordion-panel>
      }
    </p-accordion>
  </p-card>
  <p-card class="flex flex-col gap-y-5 shadow-xl">
    @if (course()?.isFree) {
    <h2 class="text-[#03C95A] text-[30px]">Free</h2>
    <p-button
      label="Tham gia"
      styleClass="w-full"
      (onClick)="addToCart()"
      [disabled]="isInCart()"
    ></p-button>
    } @else {
    <div class="flex justify-between">
      @if (course()?.hasDiscount) {
      <span class="font-bold text-lg text-red-500"
        >Giảm: {{ course()?.discountPrice | currency : 'VND' : 'symbol' : '1.0-0' }}</span
      >

      <p>
        <span class="line-through mr-1.5 font-bold text-lg text-red-500">
          {{ course()?.price | currency : 'VND' : 'symbol' : '1.0-0' }}
        </span>
        <span class="font-bold text-lg text-red-500">
          Còn:
          {{ priceAfterDiscount | currency : 'VND' : 'symbol' : '1.0-0' }}
        </span>
      </p>

      } @else {
      <p class="font-bold text-lg text-red-500">
        {{ course()?.price | currency : 'VND' : 'symbol' : '1.0-0' }}
      </p>
      }
    </div>
    <p-button
      *appHasPermission="PERMISSION.Students.Courses.ViewDetails.AddToCart"
      [label]="remainingCapacity !== 0 ? 'Đăng ký' : 'Hết khoá học'"
      styleClass="w-full"
      (onClick)="addToCart()"
      [disabled]="isInCart() || remainingCapacity == 0"
    ></p-button>
    }
  </p-card>
</div>
