<p>{{ msg() }}</p>
@if (msg()) {
<div>
  <p-radio-button [(ngModel)]="isAssign" name="role" value="" inputId="UnAssign" />
  <label for="UnAssign">Không gán quyền mới cho người dùng</label>
</div>
<div>
  <p-radio-button [(ngModel)]="isAssign" name="role" value="{{ msg() }}" inputId="Assign" />
  <label for="Assign">Chọn 1 quyền mới gán cho người dùng</label>
</div>
@if (isAssign) {
<p-select
  [options]="rolesMinus()"
  [(ngModel)]="selectedRole"
  optionLabel="roleName"
  optionValue="roleId"
  placeholder="Chọn quyền"
  appendTo="body"
/>
} }
<p-button label="Đóng" (onClick)="close()"></p-button>
<p-button pButton label="Xoá" (onClick)="delete()"></p-button>
