<div class="flex flex-col gap-2.5">
  <div>
    <h3 class="mb-[10px] font-bold">Đăng nhập</h3>
    <hr />
  </div>

  <div>
    <p>
      Bạn chưa có tài khoản?
      <a class="text-blue-500 underline cursor-pointer" routerLink="/auth/register">Đăng ký</a>
    </p>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="flex flex-col gap-2.5">
    <div class="">
      <p-iftalabel>
        <input
          class="w-full"
          pInputText
          id="UserNameOrEmail"
          [(ngModel)]="loginDto().UserNameOrEmail"
          name="UserNameOrEmail"
          required
          #UserNameOrEmail="ngModel"
        />
        <label for="UserNameOrEmail">Tên đăng nhập/Email</label>
      </p-iftalabel>
      @if (UserNameOrEmail.invalid && UserNameOrEmail.touched) { @if
      (UserNameOrEmail.hasError('required')) {
      <div>Tên đăng nhập/Email được rỗng!</div>
      } }
    </div>

    <div>
      <p-iftalabel>
        <p-password
          class="w-full"
          [toggleMask]="true"
          inputStyleClass="w-full"
          [(ngModel)]="loginDto().Password"
          inputId="Password"
          name="Password"
          required
          #Password="ngModel"
        ></p-password>
        <label for="Password">Mật khẩu</label>
      </p-iftalabel>
      @if (Password.invalid && Password.touched) { @if (Password.hasError('required')) {
      <div>Mật khẩu không được rỗng!</div>
      } }
    </div>
    <a class="text-blue-500 underline cursor-pointer">Quên mật khẩu?</a>

    <div>
      <p-button label="Đăng nhập" type="submit" styleClass="w-full" />
    </div>
  </form>
</div>

<p-dialog
  header="Mật khẩu đã hết hạn. Hãy đổi mật khẩu để đăng nhập!"
  [style]="{ width: '50rem' }"
  modal="true"
  [(visible)]="visibleDialogPwd"
  (onHide)="visibleDialogPwd = false"
>
  <form [formGroup]="formChangePwd" (ngSubmit)="changePwdClick()" class="">
    <div class="flex flex-col gap-3 w-full">
      <div>
        <p-iftalabel>
          <p-password
            class="w-full"
            inputStyleClass="w-full"
            id="nowPassword"
            formControlName="nowPassword"
            [feedback]="false"
            [toggleMask]="true"
            name="nowPassword"
          />
          <label for="nowPassword">Mật khẩu hiện tại</label>
        </p-iftalabel>
        @if (nowPassword?.invalid && (nowPassword?.dirty || nowPassword?.touched)) { @if
        (nowPassword?.hasError('passwordPolicy')) {
        <small class="text-red-500">{{ nowPassword?.getError('passwordPolicy') }}</small>
        } @else if (nowPassword?.hasError('serverError')) {
        <small class="text-red-500">{{ nowPassword?.getError('serverError') }}</small>
        } @else if (nowPassword?.hasError('required')) {
        <small class="text-red-500">Không được để trống</small>
        } }
      </div>
      <div>
        <p-iftalabel>
          <p-password
            inputStyleClass="w-full"
            class="w-full"
            id="newPassword"
            [feedback]="false"
            [toggleMask]="true"
            formControlName="newPassword"
            name="newPassword"
          />
          <label for="newPassword">Mật khẩu mới</label>
        </p-iftalabel>
        @if (newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)) { @if
        (newPassword?.hasError('passwordPolicy')) {
        <small class="text-red-500">{{ newPassword?.getError('passwordPolicy') }}</small>
        } @else if (newPassword?.hasError('serverError')) {
        <small class="text-red-500">{{ newPassword?.getError('serverError') }}</small>
        } @else if (newPassword?.hasError('required')) {
        <small class="text-red-500">Không được để trống</small>
        } }
      </div>
      <div>
        <p-iftalabel>
          <p-password
            class="w-full"
            inputStyleClass="w-full"
            id="confirmNewPassword"
            [toggleMask]="true"
            [feedback]="false"
            formControlName="confirmNewPassword"
            name="confirmNewPassword"
          />
          <label for="confirmNewPassword">Nhập lại mật khẩu mới</label>
        </p-iftalabel>
        @if (confirmNewPassword?.invalid && (confirmNewPassword?.dirty ||
        confirmNewPassword?.touched)) { @if (confirmNewPassword?.hasError('required')) {
        <small class="text-red-500">Không được để trống</small>
        } @else if (confirmNewPassword?.hasError('serverError')) {
        <small class="text-red-500">{{ confirmNewPassword?.getError('serverError') }}</small>
        } }
      </div>
      <p-button class="w-full" styleClass="w-full" type="submit" label="Đổi mật khẩu"></p-button>
    </div>
  </form>
</p-dialog>
