<form [formGroup]="userForm" (ngSubmit)="save()">
  <p-tabs [value]="value()">
    <p-tablist>
      <p-tab [value]="0">Thông tin người dùng</p-tab>
      <p-tab [value]="1">Quyền</p-tab>
      @if (mode() === 'viewDetail') {
      <p-tab [value]="2">Chung</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <div class="flex flex-col gap-2.5">
          <p-ifta-label>
            <input
              class="w-full"
              pInputText
              name="userName"
              id="userName"
              formControlName="userName"
              autofocus
            />
            <label for="userName">Tên đăng nhập</label>
          </p-ifta-label>
          @if (userName?.invalid && (userName?.touched || userName?.dirty) ) {
          <small class="text-red-500">Tên đăng nhập không hợp lệ</small>
          }
          <div class="flex gap-1">
            <p-ifta-label>
              <input class="w-full" pInputText name="name" id="name" formControlName="name" />
              <label for="name">Tên</label>
            </p-ifta-label>
            <p-ifta-label>
              <input pInputText name="surname" id="surname" formControlName="surname" />
              <label for="surname">Họ</label>
            </p-ifta-label>
          </div>

          @if (mode() === 'add') {
          <p-ifta-label>
            <p-password
              class="w-full"
              inputStyleClass="w-full"
              name="passwordHash"
              id="passwordHash"
              formControlName="passwordHash"
            />
            <label for="passwordHash">Mật khẩu</label>
          </p-ifta-label>
          @if (passwordHash?.invalid && (passwordHash?.touched || passwordHash?.dirty) ) { @if
          (passwordHash?.hasError('required')) {
          <small class="text-red-500">Mật khẩu bắt buộc</small>
          }} @if (passwordHash?.hasError('passwordPolicy')) { @for (item of
          passwordHash?.getError('passwordPolicy'); track $index) {
          <small class="text-red-500">{{ item }}</small>
          } }}
          <p-ifta-label>
            <input class="w-full" pInputText name="email" id="email" formControlName="email" />
            <label for="email">Email</label>
          </p-ifta-label>
          @if (email?.invalid && (email?.touched || email?.dirty)) {
          <small class="text-red-500">Email không hợp lệ</small>
          }
          <p-ifta-label>
            <p-input-mask
              mask="999 999 9999"
              placeholder="999 999 9999"
              styleClass="w-full"
              name="phoneNumber"
              id="phoneNumber"
              formControlName="phoneNumber"
            />
            <label for="phoneNumber">Số điện thoại</label>
          </p-ifta-label>
          @if (phoneNumber?.invalid && (phoneNumber?.touched || phoneNumber?.dirty)) {
          <small class="text-red-500">Số điện thoại không hợp lệ</small>
          }
          <div class="flex gap-1 items-center">
            <p-checkbox
              formControlName="isActive"
              name="isActive"
              id="isActive"
              binary="true"
            ></p-checkbox>
            <label for="isActive">Kích hoạt</label>
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="1">
        <div class="flex flex-col gap-4">
          <div *ngFor="let roleName of rolesName()" class="flex items-center">
            <p-checkbox
              [inputId]="roleName"
              name="roleName"
              [value]="roleName"
              formControlName="roles"
            />
            <label [for]="roleName" class="ml-2"> {{ roleName }} </label>
          </div>
        </div>
      </p-tabpanel>
      @if (mode() === 'viewDetail') {
      <p-tabpanel [value]="2">
        <p-table [value]="general()">
          <ng-template pTemplate="body" let-field>
            <tr>
              <td class="font-bold">{{ field.label }}</td>
              @if (field.label === 'Thời gian tạo' || field.label === 'Cập nhật gần nhất' ||
              field.label === 'Thời điểm mở khoá') {
              <td>{{ field.value | date : 'short' }}</td>
              } @else {
              <td>{{ field.value }}</td>

              }
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
  <div class="flex gap-1 justify-around">
    <p-button label="Đóng" (onClick)="close()"></p-button>
    @if (mode() !== 'viewDetail') {
    <p-button label="Lưu" type="submit" [disabled]="userForm.invalid"></p-button>
    }
  </div>
</form>
