<h1>Người dùng</h1>
<p-button label="Thêm người dùng" (onClick)="newUser()"></p-button>
<p-toast></p-toast>
<p-table [value]="users()">
  <ng-template #header>
    <tr>
      <th>Thao tác</th>
      <th>Tên tài khoản</th>
      <th>Email</th>
      <th>Quyền</th>
      <th>Số điện thoại</th>
      <th>Họ</th>
      <th>Tên</th>
      <th>Trạng thái</th>
      <th>Thời gian tạo</th>
      <th>Thời gian sửa lần cuối</th>
    </tr>
  </ng-template>
  <ng-template #body let-user>
    <tr>
      <td>
        <p-menu #menu [model]="menuItems()" [popup]="true" appendTo="body" />
        <p-button (onClick)="setCurrentUser(user, $event, menu)" label="Thao tác" />
      </td>
      <td>{{ user.userName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.roles }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.isActive }}</td>
      <td>{{ user.creationTime | date : 'short' }}</td>
      <td>{{ user.modificationTime | date : 'short' }}</td>
    </tr>
  </ng-template>
  <ng-template #footer>
    <tr>
      <td colspan="8">Tổng có {{ totalUsers() }} người dùng</td>
    </tr>
  </ng-template>
</p-table>

<!-- Dialog Reset Password -->
<p-dialog [modal]="true" [(visible)]="visibleResetPwd" header="Thiết đặt mật khẩu">
  <form #resetPwdForm="ngForm" (ngSubmit)="resetPassword(currentUser()!)">
    <p-ifta-label>
      <p-password
        required
        #newPwd="ngModel"
        name="resetPwd"
        id="resetPwd"
        [(ngModel)]="resetPwd.passwordHash"
      >
      </p-password>
      <label for="resetPwd">Mật khẩu mới</label>
    </p-ifta-label>
    @if (newPwd.invalid && (newPwd.dirty || newPwd.touched)) { @if (newPwd.errors?.['required']) {
    <small>Mật khẩu không được để trống</small>
    } @if (newPwd.errors?.['minlength']) {
    <small>Mật khẩu phải ít nhất 6 kí tự</small>
    } }
    <p-button label="Đóng" (onClick)="visibleResetPwd.set(false)"></p-button>
    <p-button label="Lưu" type="submit" [disabled]="resetPwdForm.invalid"></p-button>
  </form>
</p-dialog>
