<p-toast></p-toast>
<div class="flex flex-col gap-2.5">
  <div class="flex justify-between">
    <h1 class="font-black text-[25px]">Người dùng</h1>
    <p-button label="Thêm người dùng" (onClick)="newUser()"></p-button>
  </div>

  <p-table
    #dt
    [value]="users()"
    [lazy]="true"
    [paginator]="true"
    [loading]="loading()"
    [sortMode]="'multiple'"
    [scrollable]="true"
    [rows]="pageSize()"
    [totalRecords]="totalRecords()"
    (onLazyLoad)="loadUsers($event)"
    class="rounded-xl overflow-hidden"
    scrollHeight="800px"
  >
    <ng-template #header>
      <tr>
        <th>Thao tác</th>
        <th pSortableColumn="userName">
          <div class="flex items-center gap-2">
            Tên tài khoản
            <p-sortIcon field="userName" />
          </div>
        </th>
        <th pSortableColumn="email">
          <div class="flex items-center gap-2">
            Email
            <p-sortIcon field="email" />
          </div>
        </th>
        <th>Quyền</th>
        <th>Số điện thoại</th>
        <th>Họ</th>
        <th>Tên</th>
        <th>Trạng thái</th>
        <th>Thời gian tạo</th>
        <th>Thời gian sửa lần cuối</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <input
            pInputText
            (input)="dt.filter($event.target.value, 'userName', 'contains')"
            placeholder="Search by user name"
          />
        </th>
        <th>
          <input
            pInputText
            (input)="dt.filter($event.target.value, 'email', 'contains')"
            placeholder="Search by Email"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td>
          <p-menu #menu [model]="menuItems()" [popup]="true" appendTo="body" />
          <p-button (onClick)="setCurrentUser(user, $event, menu)" label="Thao tác" />
        </td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.isActive }}</td>
        <td>{{ user.creationTime | date : 'short' }}</td>
        <td>{{ user.modificationTime | date : 'short' }}</td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <tr>
        <td colspan="10">Tổng có {{ totalRecords() }} người dùng</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Dialog Reset Password -->
<p-dialog [modal]="true" [(visible)]="visibleResetPwd" header="Thiết đặt mật khẩu">
  <form
    class="flex flex-col gap-2.5"
    #resetPwdForm="ngForm"
    (ngSubmit)="resetPassword(currentUser()!)"
  >
    <p-ifta-label>
      <p-password
        class="w-full"
        inputStyleClass="w-full"
        required
        [minlength]="6"
        #newPwd="ngModel"
        name="resetPwd"
        id="resetPwd"
        [(ngModel)]="resetPwd.passwordHash"
      >
      </p-password>
      <label for="resetPwd">Mật khẩu mới</label>
    </p-ifta-label>
    <div>
      @if (newPwd.invalid && (newPwd.dirty || newPwd.touched)) { @if (newPwd.errors?.['required']) {
      <small class="text-red-500">Mật khẩu không được để trống</small>
      } @if (newPwd.errors?.['minlength']) {
      <small class="text-red-500">Mật khẩu phải ít nhất 6 kí tự</small>
      } }
    </div>

    <div class="flex justify-end gap-1">
      <p-button label="Đóng" (onClick)="visibleResetPwd.set(false)"></p-button>
      <p-button label="Lưu" type="submit" [disabled]="resetPwdForm.invalid"></p-button>
    </div>
  </form>
</p-dialog>
